body, html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    color: chocolate;
    margin-top: 80px;
    
}

ul {
    width: auto;
    text-align: center;
    margin-top: 0px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Sriracha', cursive;
}

body {
    background-image: url("WebApp.png");
    background-size: cover;
    background-attachment: fixed;
}

img {
    width: 100%;
    margin: -5px auto;
    margin-top: 50px;
    display: block;
}
